<div class='homepage-nav-bar'>
  <nav>
    {{#if logged_in}}
    <a class='profile-btn nav-btn mx-1' href='/profile'>PROFILE</a>
    <a class="create-post nav-btn mx-1" href='/createpost'>ADD A POST</a>
    <button class='logout-btn nav-btn mx-1'>LOGOUT</button>
    {{!-- <button class='no-button nav-btn mx-1' id='logout'>LOGOUT</button> --}}
    {{else}}
    <a class='login-btn nav-btn mx-2' id='login-btn' href="/login">LOGIN</a>
    {{/if}}
  </nav>
</div>


<div>
  <h2 id='sub-title'>Look at this fine tech blog.</h2>
</div>




<div class='container-fluid homepage-posts'>
  <div class='row post-row'>
    {{#each posts as |post| }}
    <div class="post-card">
      <div>
        <div>
          <a href="/post/{{post.id}}">
            <div class='post-header'>
              <h3 class='post-username'>{{post.user.username}}</h3>
              <h6 class='post-date'>posted on {{format_date post.date_created}}</h6>
            </div>
          </a>
          <a href="/post/{{post.id}}">
          </a>
          <p class='post-body'>
            {{post.post_body}}
          </p>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{#if logged_in }}
<script src='/js/logout.js'></script>
{{/if}}