<div class='row display-flex justify-center text-center'>
  <div class='dish col-md-5 mb-5'>
    <h4 class='post-username'>{{user.username}}</h4>
    <h6 class = 'post-date'>{{format_date comment.date_created}}</h6>
    
    <div class='col-md-7 ind-user-post mb-5'></div>
    <p class='ind-review mt-5 '>
      {{post_body}}
    </p>
    </div>

  <div class='container'>
    <div class='row add-comment-container display-flex mt-5'>
      <form class='form create-comment'>
        <div class='form-group mb-1'>
          <label for='comment-input'>Comment:</label>
          <br />
          <textarea type='text' class='form-input' id='comment-input' rows='5' cols='30'></textarea>
        </div>
        <div class='form-group mt-1'>
          <button type='submit' id='submit-button'>Comment</button>
        </div>
      </form>
    </div>

    <div class='row display-flex justify-center'>
      {{#if comments.length}}
      {{#each comments as |comment|}}
      <div class='col-md-8'>
        <h4 class='comment-username'>{{comment.user.username}}</h4>
        <div class='ind-user-comment'>
          <p>{{comment_body}}</p>
        </div>
        <p class='comment-user-tag'>posted on {{format_date comment.date_created}}
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>



</div>
<script src='../js/comment.js'></script>