<div class = 'page-container'>
<div class='container-fluid'>
  {{!-- <div class='row display-flex justify-center text-center'> --}}
    <div class='row'>
      <div class='post-header'>
        <h2 class='post-username'>{{user.username}}</h2>
        <h4 class='post-date'>{{post.date_created}}</h4>

      </div>
      {{!-- <h6 class='post-date'>{{format_date post.date_created}}</h6> --}}

      <div class='indv-post-body'>
        <p>
          {{post_body}}
        </p>
      </div>


      <div class='add-comment-container'>
        <div class='row comment-input-container display-flex'>
          <form class='form create-comment'>
            <label for='comment-input' class='form-label'>Comment:</label>
            <br />
            <textarea type='text' class='form-control' id='comment-input' rows='5' cols='80'></textarea>
            <button type='submit' id='submit-button'>Submit Comment</button>
          </form>
        </div>


        <div class='row display-flex'>
          {{#if comments.length}}
          {{#each comments as |comment|}}
          <div class = 'comment-container'>
            <div class='comment-header'>
              <h4 class='comment-username'>{{comment.user.username}}</h4>
              <p class='comment-date'>posted on {{format_date comment.date_created}}
            </div>
            <div class='comment-body'>
              <p>{{comment_body}}</p>
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>


    <script src='/js/comment.js'></script>