<div class='page-container'>
   
    <div class="row profile-header">
        <h2 class='profile-header'>{{username}}'s Profile</h2>
    </div>

     <div>
        <a class="profile-create-post-btn btn" href='/createpost'>CREATE A POST</a>
        <a class="back-to-homepage-btn btn" href="/">BACK TO HOMEPAGE</a>
    </div>

    <div class='profile-posts-container'>
        {{#if posts.length}}
        {{#each posts as |post| }}
        <div class="profile-post">
            <p class='profile-post-date'>Posted on {{format_date post.date_created}}</p>
            <a href="/post/{{post.id}}">
            <h6 class='profile-post-body'>
                {{post.post_body}}
            </h6>
            </a>
            <button class="btn btn-sm delete-post-btn" delete-id = '{{post.id}}'>DELETE</button>
            <a class="btn btn-sm edit-post-btn" href = '/edit/{{post.id}}'>EDIT</a>
        </div>
        {{/each}}



        {{else}}
        <h3>Make a post to see it on your profile.</h3>
        {{/if}}
    </div>
</div>

<script src = '/js/deletePost.js'></script>
{{!-- <script src = '/js/editPost.js'></script> --}}
